body {
 background-color: peachpuff;
 padding: 40px;
 max-width: 1600px;
 height: auto;
 margin: 0 auto;
}

.App{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.appWrapper{
 display: flex;
 justify-content: space-around;
 margin-top: 50px;
 gap: 30px;
 flex-wrap: wrap;

}
.CreateTodolists{
 margin-bottom: 40px;
}




