
.todolist_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgoldenrodyellow;
    border: 1px solid aquamarine;
    padding: 20px;
    max-width: 250px;
}

ul.todolist_tasks{
    padding: 0;
}



ul.todolist_tasks li{
    max-width: 250px;
    list-style: none;
    padding:  10px 25px 10px 15px;
    border: 1px solid #000;
    margin-bottom: 10px;
    display: flex;
    border-radius:20px ;

}
ul.todolist_tasks li button{
 margin-left: auto;


}
ul.todolist_tasks li input{
    margin-right: 10px;
}
ul.todolist_tasks li span{
    margin-right: 10px;
}
 /* классы для предупреждения в инпуте*/

/*цвет кнопок*/
.activeFilter {
    background-color: aquamarine;
}
/* цвет выполненных тасок*/
.isDone {
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notDone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapperForm{
    display: flex;
    align-items: center;
}
h3{
    margin-right: 20px;
}
.btn_set{
    margin-top: auto;
}


.appWrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 30px;
    flex-wrap: wrap;

}
.CreateTodolists{
    margin-bottom: 40px;
}

