
.todolist_wrapper {
    background-color: #fafff3 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid aquamarine;
    padding: 20px;
    max-width: 250px;
}
.wrapperForm{
    margin-bottom: 20px;
}
.input_wrapper{
    margin-bottom: 6px;
}
ul.todolist_tasks {
    width: 100%;
    margin-bottom: 10px;
}

ul.todolist_tasks .li {
    margin: 10px 0;
    list-style: none;
    border-radius: 5px;
    background-color: transparent !important;
}


.liTask {
    width: 100%;
    display: grid;
    grid-template-columns:  1fr 8fr;
    border-radius: 20px;
}

.span{
    margin-right: 20px;
    width: 100%;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;


}
ul.todolist_tasks .li button {
    padding: 5px;

}



.checkbox {
    max-width: 42px;
    justify-self: center;
}







/* классы для предупреждения в инпуте*/

/*цвет кнопок*/
.activeFilter {
    background-color: aquamarine;
}

/* цвет выполненных тасок*/
.isDone {
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notDone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapperForm {
    display: flex;
    align-items: center;
}

h3 {
    margin-right: 20px;
}

.btn_set {
    margin-top: auto;

    width: 100%;
}


.appWrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 30px;
    flex-wrap: wrap;

}

.CreateTodolists {
    margin-bottom: 40px;
}

